body {
    background-color: #F5F5DC;
}

.app {
    padding: 0vw 5vw;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.navbar-left {
    display: flex;
    align-items: center;
    width: 10vw;
    padding: 2px;
}

.logo {
    width: 100%;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 2px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    max-width: 10vw;
    padding: 5px;
    margin: 5px;
}
.search-box {
    border: none;
    width: 100%;
    padding: 5px;
    background: none;
}

.search-icon {
    padding: 5px;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15vw;
    padding: 2px;
}

.navbar-right ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-right ul li {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.body-container {
    margin: 5px;
}

.dish-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
}

.dish-container-heading {
    display: flex;
    justify-content: space-between;
}

.dish-container-silder-arrow {
    display: flex;
    align-items: center;
}

.dish-container-silder-arrow svg {
    margin: 2px;
}

.dish {
    width: 10vw;
    height: auto;
    flex-shrink: 0;
    margin: 5px;
}

.dish img {
    width: 100%;
}

.star {
    color: gold;
}

.restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 10px;
}

.restaurant {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 20vw;
    height: 400px;
    overflow: hidden;
    margin: 10px;
}

.restaurant-container::after {
    content: "";
    flex: auto;
}

.restaurant-image-container {
    width: 100%;
    height: 75%;
    position: relative;
    overflow: hidden;
}

.restaurant-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in;
}

.restaurant-image-container img:hover {
    transform: scale(1.05);
}

.restaurant-info {
    margin: 2px;
}

.restaurant p {
    margin: 0px;
    padding: 1px;
}

.star-and-timing {
    padding: 1px;
}
